
/*anchor*/
#anchor{
    -fx-background-image: url("1319752.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* BarChart*/
.chart-bar {
-fx-font-family : "series";
-fx-background-color: #2f665c;
}

/*Bar chart's title*/
.axis {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: white;
}
/* label*/
.label {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

/* When table's cell selected */
.table-row-cell:filled:selected {
    -fx-background-color: #e6c2bf;
}
.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: red;
}
.table-row-cell:filled:selected .table-cell:odd {
    -fx-background-color: #e6c2bf;
}
.table-row-cell:filled:selected .table-cell:even {
    -fx-background-color: #e6c2bf;
}

/* TableView*/
.table-view {
    -fx-background-color: #2f665c;
}
/* Table cell*/
.table-cell {
    -fx-background-color: #a1bba2;
    -fx-text-fill: white;
}

/* Table header*/
.column-header {
    -fx-background-color: #2f665c;
}


